


<div id="descricao-do-curso" class="section level2">
<h2>Descrição do curso</h2>
<!-- TODO É possível melhorar. Dá a impressão que apenas os dados de -->
<!-- dispositivos móveis são relevantes. -->
<p>Vivemos a era da informação, em que grande parte de nossas atividades diárias é realizada on line. Estima-se que em 2020 teremos 50 bilhões de dispositivos conectados à internet. Como consequência, tem-se um volume gigantesco e diversificado de dados produzidos a cada momento. Como você e sua empresa podem lucrar com essa tremenda oportunidade? Descubra! Junte-se a nós nesta nova era no curso de especialização em Data Science e Big Data.</p>
</div>
<div id="publico-alvo" class="section level2">
<h2>Público alvo</h2>
<p>Profissionais com formação superior em estatística, ciência da computação, sistemas de informação, economia, administração e áreas correlatas. Profissionais envolvidos com manipulação e análise de grandes massas de dados para a extração de conhecimento.</p>
</div>
<div id="diferenciais-do-curso" class="section level2">
<h2>Diferenciais do curso</h2>
<ul>
<li>Conteúdo atualizado e sincronizado com o mercado de trabalho.</li>
<li>Professores altamente capacitados e atuantes.</li>
<li>Material didático exclusivo, assitência via ambiente virtual de aprendizado e aulas práticas em laboratórios de informática de alto desempenho.</li>
<li>Possibilidade de atuar em problemas reais aliando o aprendizado e a prática.</li>
<li>Acesso ao cluster de computadores de alto desempenho da UFPR.</li>
<li>Diploma emitido por uma Universidade com 105 anos de existência e entre as 10 melhores do Brasil.</li>
<li><em>Network</em> corporativo e acadêmico.</li>
</ul>
</div>
<div id="datas-importantes" class="section level2">
<h2>Datas importantes</h2>
<ul>
<li>Inscrições: 08/01/2018 - 26/01/2018</li>
<li>Seleção: 29/01/2018 - 05/02/2018</li>
<li>Matrículas: 05/02/2018 - 16/02/2018</li>
<li>Início das aulas: 02/03/2018</li>
</ul>
</div>
<div id="numero-de-vagas-e-processo-seletivo" class="section level2">
<h2>Número de vagas e processo seletivo</h2>
<p>O curso oferece 36 vagas sendo 4 para bolsistas. O processo seletivo constará de três etapas:</p>
<ol style="list-style-type: decimal">
<li>Carta de intenções.</li>
<li>Curriculum.</li>
<li>Entrevista.</li>
</ol>
</div>
<div id="investimento" class="section level2">
<h2>Investimento</h2>
<ul>
<li>Matrícula: R$ 0,00</li>
<li>Curso: 18 mensalidades de R$ 690,00.</li>
</ul>
</div>

