#footer {
    background: #264b6b;
}
.bar.background-pentagon {
    background: url('../img/background_square.jpg') center center repeat;
}
ul.people > li {
    list-style: none;
}
#heading-breadcrumbs {
    background: url('../img/matrix_background2.jpg') center center repeat;
    padding: 20px 0;
    margin-bottom: 40px;
}
#heading-breadcrumbs h1 {
    color: #fefffc;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.08em;
    text-align: center;
}
/*---------------------------------------------------------------------- */

img.projects {
    width: 262.5px;
    height: 262.5px;
    display: block;
    margin: auto;
    border-radius: 50%;
}

img.courses {
    width: 262.5px;
    height: 262.5px;
    display: block;
    margin: auto;
    border-radius: 50%;
}



